{
  "editor.formatOnSave": true,
[% if use_python %]
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter"
  },
[% endif %]
[% if include_terraform %]
  "[terraform]": {
    "editor.defaultFormatter": "hashicorp.terraform"
  },
[% endif %]
[% if project_type == 'web-astro' %]
  "[astro]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
[% endif %]
[% if use_node %]
  "[javascript]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[javascriptreact]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[typescript]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[typescriptreact]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[json]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[jsonc]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
  "[css]": { "editor.defaultFormatter": "esbenp.prettier-vscode" },
[% endif %]
  "[shellscript]": {
    "editor.defaultFormatter": "foxundermoon.shell-format"
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "[markdown]": {
    "files.trimTrailingWhitespace": false
  },
  "[mdx]": {
    "files.trimTrailingWhitespace": false
  },
  "files.trimTrailingWhitespace": true,
  "files.watcherExclude": {
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/node_modules/**": true,
    "**/.venv/**": true,
    "**/.terraform/**": true,
    "**/dist/**": true,
    "**/.task/**": true
  },
  "search.exclude": {
    "**/node_modules": true,
    "**/.venv": true,
    "**/.terraform": true,
    "**/dist": true,
    "**/uv.lock": true,
    "**/.task": true,
    "**/playwright-report": true,
    "**/test-results": true
  },
  "search.smartCase": true,
  "terminal.integrated.defaultProfile.linux": "zsh",
  "npm.packageManager": "[% if use_node %]pnpm[% else %]npm[% endif %]"
}
