{
  "editor.formatOnSave": true,
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter"
  },
  "[terraform]": {
    "editor.defaultFormatter": "hashicorp.terraform"
  },
  "[shellscript]": {
    "editor.defaultFormatter": "foxundermoon.shell-format"
  },
  "[yaml]": {
    "editor.defaultFormatter": "redhat.vscode-yaml"
  },
  "[markdown]": {
    "files.trimTrailingWhitespace": false
  },
  "[mdx]": {
    "files.trimTrailingWhitespace": false
  },
  "files.trimTrailingWhitespace": true,
  "files.watcherExclude": {
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/node_modules/**": true,
    "**/.venv/**": true,
    "**/.terraform/**": true,
    "**/dist/**": true,
    "**/.task/**": true
  },
  "search.exclude": {
    "**/node_modules": true,
    "**/.venv": true,
    "**/.terraform": true,
    "**/dist": true,
    "**/uv.lock": true,
    "**/.task": true,
    "**/playwright-report": true,
    "**/test-results": true
  },
  "search.smartCase": true,
  "terminal.integrated.defaultProfile.linux": "zsh",
  "npm.packageManager": "[% if use_node %]pnpm[% else %]npm[% endif %]"
}
